<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Exam Hub-Exam</title>
	<link rel="stylesheet" type="text/css" href="course.css" />
	
</head>
<body>
<script type="text/javascript">
    var timeleft = {{new_time}};
    var downloadTimer = setInterval(function(){
    timeleft--;
    document.getElementById("countdowntimer").textContent = secondsToHms(timeleft);
    if(timeleft <= 0)
        clearInterval(downloadTimer);
        if(timeleft==0){
        timedRedirect();
        }
    },1000);
    redirectTime = "2000";
    redirectURL = "/course/submitexam/";
    function timedRedirect() {
	setTimeout("location.href = redirectURL;",redirectTime);
}

    function secondsToHms(d) {
    d = Number(d);
    var h = Math.floor(d / 3600);
    var m = Math.floor(d % 3600 / 60);
    var s = Math.floor(d % 3600 % 60);

    var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : "";
    var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : "";
    var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
    return hDisplay + mDisplay + sDisplay;
}
</script>
<div class="timer">
Time left:<span id="countdowntimer"> </span>
</div>
<div class="question">
<form action="/course/submitexam/" method="post">
    <h3 class="avail">Q{{ forloop.counter }}:  {{q.question_text}}</h3>
    <h5>Question id ={{q.question_id}}</h5>
    <input type="hidden" value="{{q.question_id}}" name="qid{{ forloop.counter }}">
    <h4>Options:</h4>
    <div class="options">
    <input type="radio" id="contactChoice1" name="op{{ forloop.counter }}" value="1">
    <label for="contactChoice1">{{q.choice_text1}}</label>
    <br>
    <input type="radio" id="contactChoice2" name="op{{ forloop.counter }}" value="2">
    <label for="contactChoice2">{{q.choice_text2}}</label>
    <br>
    <input type="radio" id="contactChoice3" name="op{{ forloop.counter }}" value="3">
    <label for="contactChoice3">{{q.choice_text3}}</label>
    <br>
    <input type="radio" id="contactChoice4" name="op{{ forloop.counter }}" value="4">
    <label for="contactChoice4">{{q.choice_text4}}</label>
    </div>
    <br><br><br>
    {% endfor %}
    <input type="submit" value="submit">
</form>
</div>

</body>
</html>