<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Exam Hub-Results</title>
	<link rel="stylesheet" type="text/css" href="{% static 'course/course.css' %}" />
	<link rel="shortcut icon" type="image/png" href="{% static 'exam_home/images/exam_hub_small.png' %}"/>
</head>
<body>
Exam Complete!!!!<br><br>

<h3 class="avail">Exam Details:</h3>
Course ID: {{course_id}}<br>
Teacher Name: {{teacher_name}}<br>
<br>
<h1>Your Score is {{score}}/{{total}}</h1>
<br>
Back to home page <a href="/">HOME</a>
</body>
</html>