
<html>
<body bgcolor="#E6E6FA">
<h2><font color="green"> Welcome you are logged in!</font> </h2>
<!--
<form action="/loginmodule/transfer/" method="get">
<div>
	<h3>Are you</h3>
	{% csrf_token %}
	<input type="radio" value="Student" name="radio">Student
	<input type="radio" name="radio" value="Teacher">Teacher<br>
    <input type="submit" value="Submit">
</div>
</form>
<br>-->
<br>
<p> Click <a href="/loginmodule/logout/">HERE</a> to logout </p>
<br>
<p>Want to Update Your Profile Then Click <a href="updateprofile.html" >Here</a></p>
</body>
</html>