<!DOCTYPE html>
<html>
<head>
	{% load static %}
    <title>Exam Hub-Question Upload</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'teacher/uploadQuestion.css' %}" />
	<link rel="shortcut icon" type="image/png" href="{% static 'loginmodule/images/exam_hub_small.png' %}"/>

</head>
<body>
	<header>
		<div class="header-inner">
			<a href="/" id="logo"></a>
			<nav>
				<a href="#" id="menu-icon"></a>
				<ul>
					<li><a href="/" >Home</a></li>
					<li><a href="/loginmodule/login/">Login</a></li>
					<li><a href="/course/reqdisplay/">Courses</a></li>
					<li><a href="/teacher/main/" class="current">Teacher</a></li>
					<li><a href="/contact/page/" >Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
<!--Header tag completed...-->
<div class="outline">
	<form action="/teacher/addquestion/" method="post">
		{% csrf_token %}
		<table>
		<tr>
			<td><p>Teacher:</p></td>
			<td>
				<input type="text" name="tane" value="{{tname}}">
			</td>
		</tr>
			<tr>
				<td><p>Course Id:</p></td>
				<td><input type="text" name="cid" value="{{course_id}}"></td>
			</tr>
		<tr>
			<td><p>Question ID:</p></td>
			<td><input type="text" name="qid" placeholder="Question ID must not be same for any question"></td>
		</tr>
		<tr>
		<td><p>Question:</p></td>
		<td><textarea name="ques" placeholder="Type your question Here." rows="4" cols="25"></textarea></td>
		</tr>

		<tr>
		<td><p>Choice 1:</p></td><td><input type="text" placeholder="Choice 1 " name="c1"></td>
		</tr>

		<tr>
		<td><p>Choice 2:</p></td><td><input type="text"  placeholder="Choice 2 " name="c2"></td>
		</tr>

		<tr>
		<td><p>Choice 3:</p></td><td><input type="text" placeholder="Choice 3 " name="c3"></td>
		</tr>

		<tr>
		<td><p>Choice 4:</p></td><td><input type="text" placeholder="Choice 4 " name="c4"><br></td>
		</tr>

		<tr>
			<td><p>Answer:</p></td>
			<td><select name="ans">
				<option value="" hidden>Option</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select> </td>
		</tr>

		<tr>
			<td colspan="2"><center><input type="submit" value="submit"></center></td>
		</tr>
		</table>
	</form>
</div>
</body>
</html>