<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Exam Hub-Contact Us</title>
	<link rel="stylesheet" type="text/css" href="{% static 'contact/contactus.css' %}" />
	<link rel="shortcut icon" type="image/png" href="{% static 'contact/images/exam_hub_small.png' %}"/>
</head>
<body bgcolor="#b2c1c4">
	<header>
		<div class="header-inner">
			<a href="/" id="logo"></a>
			<nav>
				<a href="#" id="menu-icon"></a>
				<ul>
					<li><a href="/" >Home</a></li>
					<li><a href="/loginmodule/login/">Login</a></li>
					<li><a href="/course/reqdisplay/">Courses</a></li>
					<li><a href="/teacher/main/" >Teacher</a></li>
					<li><a href="/contact/page/" class="current" >Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
<!--Header tag completed...-->
<h3>Your Form Submitted.</h3>